
@font-face {
    font-family: 'Primary';
    src: url('./fonts/mori-regular.woff2') format('woff2'), url('./fonts/mori-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --primary: #ececec;
  --secondary: #070405;
}
    
::-webkit-scrollbar {
    display: none;
}

/*-----> Lenis CSS settings */
    html. Lenis,
    html. Lenis body {
    height: auto;
   }
        
   .Lenis. Lenis-smooth {
    scroll-behavior: auto !important;
  }
               
  .Lenis.Lenis-smooth [data-Lenis-prevent] {
    overscroll-behavior: contain;
    
    }
    
    .Lenis.Lenis-stopped {
    overflow: hidden;
    }

    .Lenis.Lenis-scroLLing iframe {
        pointer-events: none;
        }
    
    html {
        font-size: calc(100vw / 1920 * 10);
        }

    body {
        font-family: 'Primary';
        color: var(--primary);
        background-color: var(--secondary);
        }

    h3 {
        font-size: 8rem;
        text-transform: uppercase;
        }

    p,
    li,
    span {
        font-size: 2.4rem;
        }
    li {
        list-style: none;
        }

 /* nav section */
 .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    }

  .nav_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 1fr;
    padding: 6.4rem;
    }

    .nav_item:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    .nav_item:nth-child(2) {
        grid-area: 1/2/2/3;
    }

    .nav_item:nth-child(3) {
        grid-area: 1/3/2/4;
    }

    .nav_item:nth-child(4) {
        grid-area: 1/4/2/5;
        display: inline-flex;
        width: fit-content;
        gap: 4rem;
    }

    .nav span {
        display: block;
    }
 /* Hero section */
 .hero {
    position: relative;
    height: 100vh;
    width: 100%;
 }

 .hero_wrapper {
    padding: 6.4rem;
 }

 .hero_paragraph {
    padding-top: 80vh;
    padding-left: 80rem;
    padding-bottom: 40rem;
 }

    .hero_paragraph_text,
    .hero_paragraph_text span {
        font-size: 8rem;
        line-height: 1.2;
    }

 .hero_paragraph_text::before {
    content: 'Info';
    border: 1px solid var(--secondary);
    border-radius: 20rem;
    padding: 0.4rem 1.2rem;
    font-size: 4rem;
 }

 .hero_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
 }

 .hero_background_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
 }



 /* About section */
 /* Projects section */
 /* Contact section */
 /* Footer section */
/* Responsive */
@media screen and (max-width: 768px) {
    html {
        font-size: calc(100vw / 768 * 10);
    }
    
    h3 {
        font-size: 2.4rem;
    }

    p,
    li,
    span {
        font-size: 2.4rem;
    }

    .nav_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nav_item:nth-child(3) {
        display: none;
    }

    .nav_item:nth-child(4) {
        display: none;
    }

    .hero_paragraph {
        padding-left: 0;
    }
    .hero_background_image {
        height: 100%;
    }
}
